<!DOCTYPE html>
<html>
  <head>
    <title>Quizzer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewpoint" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="awesome-box row">
      <%= link_to image_tag('ChickenIcon.jpg', class: 'icon col-3 img-fluid'), root_path %>
      <h1 class="col-10 headline">Welcome to Quizzer3000!</h1>
    </div>
    <br />
    <%= yield %>
  </body>
</html>
